body {background: white;
}

.A {width: 300px;
	padding: 25px;
	border: 25px solid navy;
	margin: 25px;
	font: Helvetica;
	color: rgb(122,0,0);
}
.B {width: 300px;
	padding: 25px;
	border: 25px solid navy;
	margin: 25px;
	font: Helvetica;
	color: rgb(122,0,0);
}
.B {width: 300px;
	padding: 25px;
	border: 25px solid navy;
	margin: 25px;
	font: Helvetica;
	color: rgb(122,0,0);
}