body {background: white;
}

#A {width: 200px;
	padding: 15px;
	border: 20px solid navy;
	margin: 20px;
	font: Helvetica;
	color: rgb(122,0,0);
	font-size: 1.5em;
}

#B {width: 200px;
	padding: 15px;
	border: 20px solid navy;
	margin: 20px;
	font: Helvetica;
	color: rgb(122,0,0);
	font-size: 1.5em;
}

#C {width: 200px;
	padding: 15px;
	border: 20px solid navy;
	margin: 20px;
	font: Helvetica;
	color: rgb(122,0,0);
	font-size: 1.5em;
}

.heading {font-size: 2em;
	margin: auto;
	width: 20%;
	left: 0px;
	text-align: center;
	background-image: url(http://e-uhs.efxinternet.com/admin/Image%20Library/Miscellaneous/SunnySkyMeadowIM.jpg);
}

a:hover {
	color: green;
	text-decoration: underline overline;
}

a:visited {
	color: yellow;
}

@media screen and (max-width: 500px) {
  body {
    font-size: .25em;
  }
}