body {background: white;
}

#A {width: 100px;
	padding: 5px;
	border: 2px solid navy;
	margin: 2px;
	font: Helvetica;
	color: rgb(122,0,0);
	font-size: 1.5em;
}

#B {width: 100px;
	padding: 5px;
	border: 2px solid navy;
	margin: 2px;
	font: Helvetica;
	color: rgb(122,0,0);
	font-size: 1.5em;
}

#C {width: 100px;
	padding: 5px;
	border: 2px solid navy;
	margin: 2px;
	font: Helvetica;
	color: rgb(122,0,0);
	font-size: 1.5em;
}